<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>boobieGroper</string>
		<key>name</key>
		<string>Boobie Groper</string>
		<key>cost</key>
		<integer>250</integer>
		<key>slots</key>
		<integer>1</integer>
		<key>effectType</key>
		<integer>0</integer>
		<key>effectNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>handsEnhancer</string>
		<key>name</key>
		<string>Hands Enhancer</string>
		<key>cost</key>
		<integer>350</integer>
		<key>slots</key>
		<integer>1</integer>
		<key>effectType</key>
		<integer>1</integer>
		<key>effectNumber</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>slot</string>
		<key>name</key>
		<string>Slot</string>
		<key>cost</key>
		<integer>1000000</integer>
		<key>slots</key>
		<integer>0</integer>
		<key>effectType</key>
		<integer>2</integer>
		<key>effectNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>doubleSlot</string>
		<key>name</key>
		<string>Double Slot</string>
		<key>cost</key>
		<real>1750000</real>
		<key>slots</key>
		<integer>0</integer>
		<key>effectType</key>
		<integer>2</integer>
		<key>effectNumber</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
